.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes neon {
	0% {
		text-shadow: -1px -1px 1px var(--shadow-color-light),
			-1px 1px 1px var(--shadow-color-light),
			1px -1px 1px var(--shadow-color-light),
			1px 1px 1px var(--shadow-color-light),
			0 0 3px var(--shadow-color-light),
			0 0 10px var(--shadow-color-light),
			0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color),
			0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color),
			0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color),
			0 0 200px var(--shadow-color);
	}
	50% {
		text-shadow: -1px -1px 1px var(--shadow-color-light),
			-1px 1px 1px var(--shadow-color-light),
			1px -1px 1px var(--shadow-color-light),
			1px 1px 1px var(--shadow-color-light),
			0 0 5px var(--shadow-color-light),
			0 0 15px var(--shadow-color-light),
			0 0 25px var(--shadow-color-light), 0 0 40px var(--shadow-color),
			0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color),
			0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color),
			0 0 210px var(--shadow-color);
	}
	100% {
		text-shadow: -1px -1px 1px var(--shadow-color-light),
			-1px 1px 1px var(--shadow-color-light),
			1px -1px 1px var(--shadow-color-light),
			1px 1px 1px var(--shadow-color-light),
			0 0 3px var(--shadow-color-light),
			0 0 10px var(--shadow-color-light),
			0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color),
			0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color),
			0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color),
			0 0 200px var(--shadow-color);
	}
}

.center-card {
	display: flex;
	align-items: center;
}
